body {
    margin-bottom: 1000px;
}

.mainFlex {
    display: flex;
    flex-direction: row;
}
.flexOne {
    background-color: aquamarine;
}
.flexTwo {
    background-color: pink;
}

.oneFlex {
    display: flex;
    flex-direction: row;

    margin-top: 30px;
}
.oneFlee {
    background-color: aquamarine;
    width: 100px;
}
.twoFlee {
    background-color: pink;
    flex: 1;
}

.mainThree {
    display: flex;
    flex-direction: row;

    margin-top: 30px;
}
.flexThree {
    background-color: chartreuse;
    width: 150px;
}
.flexFour {
    background-color: chocolate;
    flex: 1;
}
.flexFive {
    background-color: cornflowerblue;
    flex: 2;
}


.ytHeader {
    margin-top: 30px;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.headOne {
    background-color: aquamarine;
    width: 100px;
}
.headTwo {
    background-color: pink;
    width: 100px;
}
.headThree {
    background-color: cadetblue;
    width: 100px;
}

.ytHeader2 {
    margin-top: 30px;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.headOne2 {
    background-color: aquamarine;
    width: 100px;
}
.headTwo2 {
    background-color: pink;
    width: 100px;
}
.headThree2 {
    background-color: cadetblue;
    width: 100px;
}

.ytHeaderV {
    margin-top: 30px;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.headOneV {
    background-color: aquamarine;
    width: 100px;
}
.headTwoV {
    background-color: pink;
    width: 100px;
}
.headThreeV {
    background-color: cadetblue;
    width: 100px;
}