body {
    padding-bottom: 1000px;
}

.mainGrid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100px 100px;
}
.gridOne {
    background-color: aquamarine;
    height: 20px;
}
.gridTwo {
    background-color: pink;
    padding: 10px;
}

/* Grid Z */
.mainGridZ {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100px 200px 150px;
}
.zOne {
    background-color: aquamarine;
}
.zTwo {
    background-color: pink;
}
.zThree {
    background-color: chartreuse;
}
.zFour {
    background-color: chocolate;
    width: 200px;
}


/* Grid One */
.mainGridOne {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100px 200px 150px 1fr 2fr;
}
.oneOne {
    background-color: aquamarine;
}
.oneTwo {
    background-color: pink;
}
.oneThree {
    background-color: chartreuse;
}
.oneFour {
    background-color: chocolate;
}
.oneFive {
    background-color: cornflowerblue;
}

/* Grid Two */
.mainGridTwo {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
}
.twoOne {
    background-color: aquamarine;
    height: 200px;
}
.twoTwo {
    background-color: pink;
    height: 200px;
}
.twoThree {
    background-color: chartreuse;
    height: 200px;
}