body {
    padding-bottom: 1000px;
}

.mainGrid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100px 200px 150px;
}
.mainGridOne {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100px 200px 150px 1fr 2fr;
}
.mainGridTwo {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
}
.gridOne {
    background-color: aquamarine;
    height: 200px;
}
.gridTwo {
    background-color: pink;
    height: 200px;
}
.gridThree {
    background-color: chartreuse;
    height: 200px;
}
.gridFour {
    background-color: chocolate;
}
.gridFive {
    background-color: cornflowerblue;
}