/* The Header */
.ytHeader {
    height: 55px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 0px;
    border-bottom-color: rgb(198, 198, 198);
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Start */
.headStart {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.burger {
    height: 25px;

    margin-left: 24px;
    margin-right: 20px;

    cursor: pointer;
}
.burger:active {
    opacity: 75%;
}
.ytLogo {
    height: 100px;
}


/* Search Bar (Center) */
.headCenter {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    margin-right: 30px;
    margin-left: 70px;

    max-width: 600px;
}
.searchBar {
    font-size: 17px;
    flex: 1;
    height: 35px;

    padding-left: 18px;

    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-style: solid;
    border-width: 1px;
    outline: none;

    width: 0;
}
.searchBar::placeholder {
    font-family: 'Space Mono', monospace;
    font-size: 17px;
}
.searchBtn {
    height: 38px;
    width: 55px;

    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-style: solid;
    border-left: none;
    border-color: gray;
    border-width: 1px;

    cursor: pointer;
}
.searchBtn:active {
    opacity: 75%;
}
.srchLogo {
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.micBtn {
    height: 40px;
    width: 40px;
    margin-left: 10px;

    border-radius: 30px;
    border: none;
    background-color: rgba(238, 238, 238, 0.915);

    cursor: pointer;
}
.micBtn:active {
    opacity: 75%;
}
.micLogo {
    height: 70%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}


/* End */
.headEnd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.uploadIcon {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    background-color: rgba(238, 238, 238, 0.915);
    color: black;

    height: 385x;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0px;
    padding: 0px;
    padding-right: 10px;

    border-radius: 30px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
}
.uploadIcon:active {
    opacity: 75%;
}
.uploadEmegi {
    height: 60%;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: start;

    margin: 7px;
}

.bellNotif {
    height: 28px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-left: 10px;
    margin-right: 10px;
}
.iconPpf {
    height: 38px;
    width: 38px;
    border-radius: 50px;

    object-fit: cover;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 30px;

}