/* The Header */
.ytHeader {
    background-color: whitesmoke;
    height: 55px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 150;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 0px;
    border-bottom-color: rgb(198, 198, 198);
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Start */
.headStart {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.burger {
    height: 25px;

    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;

    cursor: pointer;
}
.burger:hover {
    background-color: lightgray;
    border-radius: 50px;
}
.burger:active {
    opacity: 75%;
}
.ytLogo {
    height: 100px;
    cursor: pointer;
}
.ytHome {
    margin: 0;
}


/* TOOLTIP */
.searchBtn .tooltip, 
.micBtn .tooltip, .boxNotif .tooltip,
.ytHome .tooltip {
    position: absolute;
    background-color: rgba(71, 71, 71, 0.753);
    color: whitesmoke;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 3px;
    font-size: 15px;

    bottom: -30px;
    left: -15px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;

    white-space: nowrap;
}
.searchBtn:hover .tooltip, 
.micBtn:hover .tooltip, .boxNotif:hover .tooltip,
.ytHome:hover .tooltip {
    opacity: 1;
}
.searchBtn, 
.micBtn, .boxNotif, .ytHome {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}




/* Search Bar (Center) */
.headCenter {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    margin-right: 30px;
    margin-left: 70px;

    max-width: 600px;
}
.searchBar {
    font-size: 17px;
    flex: 1;
    height: 35px;

    padding-left: 18px;

    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-style: solid;
    border-width: 1px;
    outline: none;

    width: 0;
}
.searchBar::placeholder {
    font-family: 'Space Mono', monospace;
    font-size: 17px;
}
.searchBtn {
    height: 38px;
    width: 55px;

    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-style: solid;
    border-left: none;
    border-color: gray;
    border-width: 1px;

    cursor: pointer;
}
.searchBtn:active {
    opacity: 75%;
}
.srchLogo {
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Search with Voice using Mic */
.micBtn {
    height: 40px;
    width: 40px;
    margin-left: 10px;

    border-radius: 30px;
    border: none;
    background-color: rgba(238, 238, 238, 0.915);

    cursor: pointer;
}
.micBtn:active {
    opacity: 75%;
}
.micLogo {
    height: 70%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}


/* End */
.headEnd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.uploadIcon {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    background-color: rgba(238, 238, 238, 0.915);
    color: black;

    height: 385x;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0px;
    padding: 0px;
    padding-right: 10px;

    border-radius: 30px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
}
.uploadIcon:active {
    opacity: 75%;
}
.uploadEmegi {
    height: 60%;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: start;

    margin: 7px;
}

.boxNotif {
    position: relative;
    cursor: pointer;
}
.boxNotif:active {
    opacity: 75%;
}
.bellNotif {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-left: 10px;
    margin-right: 10px;
}
.countNotif {
    background-color: rgb(206, 0, 0);
    color: whitesmoke;

    border-style: solid;
    border-color: whitesmoke;
    border-radius: 60px;

    position: absolute;
    right: 4px;
    top: -5px;

    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10px;

}


.iconPpf {
    height: 38px;
    width: 38px;
    border-radius: 50px;

    object-fit: cover;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 30px;

    cursor: pointer;
}
.iconPpf:active {
    opacity: 75%;
}