/* HOME PAGE GRID */
.homePageMainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;

    margin-top: 10px;
}


/* thumbnail Row */
.rowNail {
    margin-bottom: 0px;
}
.picNail {
    width: 100%;
    cursor: pointer;
}


/* Channel Info Row */
.infoRow {
    display: grid;
    grid-template-columns: 50px 1fr;
}
/* Channel Image Row */
.chaMage {
    display: inline-block;
    vertical-align: top;
}
.proPic {
    width: 45px;
    height: 45px;
    border-radius: 60px;
    object-fit: cover;
}

/* Video Info Row */
.vidFo {
    width: 100%;
}
.vidTitle {
    font-size: 15px;
    font-weight: 600;

    vertical-align: top;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 12px;

    line-height: 23px;
    cursor: pointer;
}
.vidTitle:hover{
    color: rgb(65, 65, 65);
}
.creatorName:hover {
    text-decoration: underline;
    color: rgb(61, 61, 61);
    cursor: pointer;
}
.creatorName, .vidStats {
    margin: 0px;
    color: rgb(96, 96, 96);
    font-size: 12px;
}