/* HOME PAGE GRID */
.homePageMainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;

    margin-top: 10px;
}


/* thumbnail Row */
.rowNail {
    margin-bottom: 5px;
    position: relative;
}
.picNail {
    width: 100%;
    cursor: pointer;
    border-radius: 9px;
}
.timeNail {
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    position: absolute;
    bottom: 10px;
    right: 8px;

    font-size: 10px;
    border-radius: 3px;

    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
    padding-top: 1px;
}


/* Channel Info Row */
.infoRow {
    display: grid;
    grid-template-columns: 50px 1fr;
}
/* Channel Image Row */
.chaMage {
    display: inline-block;
    vertical-align: top;
}
.proPic {
    width: 35px;
    height: 35px;
    border-radius: 60px;
    object-fit: cover;
}

/* Video Info Row */
.vidFo {
    width: 100%;
}
.vidTitle {
    font-size: 15px;
    font-weight: 600;

    vertical-align: top;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 12px;

    line-height: 23px;
    cursor: pointer;
}
.titleLink {
    text-decoration: none;
    color: black;
}
.titleLink:visited {
    color: black;
    text-decoration: none;
}
.titleLink:hover{
    color: rgb(73, 73, 73);
}

.creatorName:hover {
    font-weight: bold;
    color: rgb(32, 32, 32);
    cursor: pointer;
}
.creatorName, .vidStats {
    margin: 0px;
    color: rgb(96, 96, 96);
    font-size: 12px;
}