body {
    font-family: "Space Mono", monospace;
    margin: 0px;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
}


.mainBox {
    width: 700px;
    height: 400px;

    border-style: solid;
    border-color: red;
    border-width: 1;

    padding-left: 50px;
    padding-top: 20px;
}
.frameBox {
    width: 642px;
    height: 370px;
}